.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  & > li {
    width: 25%;
    padding: 10px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
  }
  @media screen and (max-width: 990px) {
    & > li {
      width: 50%;
    }
  }
}
