.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.left {
  & > button {
    margin-bottom: 10px;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}
